@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
	font-family: "Poppins", sans-serif;
	background-color: #f8f8f8;
}

* {
	margin: 0;
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	position: relative;
}
