.PagBusqueda {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 2em;
}


.body {
  width: 100%;

}

@media (max-width: 930px) {
  .PagBusqueda {
    display: flex;
    flex-direction: column; /* Cambia a columna entre 450px y 930px */
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4em;
  }

  .body{
    margin: 0;
    
  }

}

.lista-paquetes{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.botones{
  display: flex;
  align-items: center;
}

.loading-container {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}