body{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-weight: 700;
    margin-bottom: 1em;
}

.contenedor-filtros{
    display: flex;
    flex-direction: column;
    align-items: start;
    border: #023047 solid 3px;
    border-radius: 20px;
    padding: 2em;
    margin: 0 1em 1rem;
}

.input{
    width: 20em;
    margin-bottom: 1em;
}

.label{
    font-weight: 600;
    font-size: larger;
}

.botones{
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
  }

@media (max-width: 930px) {
    .contenedor-filtros{
        align-items: center;
        justify-content: center;
    }
}