.PagBusqueda {
  width: 90vw;
  margin: auto;
  display: grid;
  grid:
    "sidebar body" 1fr
    / 1fr 3fr;
  gap: 2em;
}

.sidebar {
  grid-area: sidebar;
}

.body {
  grid-area: body;
  margin-left: 5em; /* Elimina los márgenes en .body */
}

@media (max-width: 930px) {
  .PagBusqueda {
    display: flex;
    flex-direction: column; /* Cambia a columna entre 450px y 930px */
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4em;
  }

  .sidebar, .body{
    width: 80%;
  }
  .body{
    margin: 0;
  }

}
