.PagBusqueda {
    width: 100%;
  
    display: grid;
    grid:
      "sidebar body" 1fr
      / 1fr 3fr;
    gap: 2em;
  }
  
  .sidebar { 
    grid-area: sidebar; 
}
  .body { 
    grid-area: body;
    border: black solid 3px;
    margin-right: 2em;
    margin-left: 2em;
}

  @media (max-width: 930px) {
      .PagBusqueda{
        display: flex;
        flex-direction: column;
        gap: 4em;
      }
  }