<<<<<<< HEAD
.App {
 
  background-color: #f8f9fa !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-group{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50vw;
  margin: -20px auto;
  align-items: center;
}

.input-group{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}

.input-aeropuerto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buscar{
  width: 200px;
  border: none !important;
  z-index: 1;
  font-family: 'Poppins', sans-serif !important;
}

.search-group{
  background: rgb(33,158,188);
  background: linear-gradient(180deg, rgba(33,158,188,1) 35%, rgba(142,202,230,1) 100%);
  padding: 2.5rem;
  width: 80%;
  border-radius: 50px;
  z-index: 1;
}

.h2-busqueda{
  font-weight: 700;
  color: #023047;
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
}

.date-input-container {
  position: relative;
  display: inline-block;
  width: 200px;
}

/* Estilos para el calendario */
.calendar-container {
  position: absolute;
  top: 100%; /* Coloca el calendario justo debajo del input */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 3;
}

/* Estilos comunes para los inputs */
.input-style {
  width: 200px;
  height: 40px;
  border: 2px solid #023047; /* Borde */
  border-radius: 5px; 
  font-size: 16px; 
  box-sizing: border-box;
}

.elemento-encima {
  position: relative;
  z-index: 2; /* Un valor más alto que las nubes */
}

.input-aeropuertos{
  display: flex;
  justify-content: center;
}

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 1;
  border-radius: 50px;
}

.form-check{
  display: flex !important;
  justify-content: start;
  padding: .5rem;
  margin-left: 10px;
}

.form-check-input{
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #007a7e !important;
  outline: none;
  cursor: pointer;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
  0% {
      margin-left: -70%;
  }
  100% {
      margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
      margin-left: -70%;
  }
  100% {
      margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
      margin-left: -70%;
  }
  100% {
      margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
-webkit-animation: animateCloud 35s linear infinite;
-moz-animation: animateCloud 35s linear infinite;
animation: animateCloud 35s linear infinite;

-webkit-transform: scale(0.65);
-moz-transform: scale(0.65);
transform: scale(0.65);
}

.x2 {
-webkit-animation: animateCloud 20s linear infinite;
-moz-animation: animateCloud 20s linear infinite;
animation: animateCloud 20s linear infinite;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

.x3 {
-webkit-animation: animateCloud 30s linear infinite;
-moz-animation: animateCloud 30s linear infinite;
animation: animateCloud 30s linear infinite;

-webkit-transform: scale(0.5);
-moz-transform: scale(0.5);
transform: scale(0.5);
}

.x4 {
-webkit-animation: animateCloud 18s linear infinite;
-moz-animation: animateCloud 18s linear infinite;
animation: animateCloud 18s linear infinite;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x5 {
-webkit-animation: animateCloud 25s linear infinite;
-moz-animation: animateCloud 25s linear infinite;
animation: animateCloud 25s linear infinite;

-webkit-transform: scale(0.55);
-moz-transform: scale(0.55);
transform: scale(0.55);
}

/* NUBES */

.cloud {
background: #fff;
background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

height: 120px;
position: relative;
width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
content: '';
position: absolute;
z-indeX: -1;
}

.cloud:after {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

height: 100px;
left: 50px;
top: -50px;
width: 100px;
}

.cloud:before {
-webkit-border-radius: 200px;
-moz-border-radius: 200px;
border-radius: 200px;

width: 180px;
height: 180px;
right: 50px;
top: -90px;
}

.container_buscador{
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
}

.container-footer{
  background-color: #f8f9fa !important;
  width: 100%;
}

.test{
  display: flex;
  justify-content: center;
}

.box{
  width: 200px;
  height: 20em;
  background-color: #007a7e;
=======
.App {
 
  background-color: #f8f9fa !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-group{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50vw;
  margin: -20px auto;
  align-items: center;
}

.input-group{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}

.input-aeropuerto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buscar{
  width: 200px;
  border: none !important;
  z-index: 1;
  font-family: 'Poppins', sans-serif !important;
}

.search-group{
  background: rgb(33,158,188);
  background: linear-gradient(180deg, rgba(33,158,188,1) 35%, rgba(142,202,230,1) 100%);
  padding: 2.5rem;
  width: 80%;
  border-radius: 50px;
  z-index: 1;
}

.h2-busqueda{
  font-weight: 700;
  color: #023047;
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
}

.date-input-container {
  position: relative;
  display: inline-block;
  width: 200px;
}

/* Estilos para el calendario */
.calendar-container {
  position: absolute;
  top: 100%; /* Coloca el calendario justo debajo del input */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 3;
}

/* Estilos comunes para los inputs */
.input-style {
  width: 200px;
  height: 40px;
  border: 2px solid #023047; /* Borde */
  border-radius: 5px; 
  font-size: 16px; 
  box-sizing: border-box;
}

.elemento-encima {
  position: relative;
  z-index: 2; /* Un valor más alto que las nubes */
}

.input-aeropuertos{
  display: flex;
  justify-content: center;
}

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 1;
  border-radius: 50px;
}

.form-check{
  display: flex !important;
  justify-content: start;
  padding: .5rem;
  margin-left: 10px;
}

.form-check-input{
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #007a7e !important;
  outline: none;
  cursor: pointer;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
  0% {
      margin-left: -70%;
  }
  100% {
      margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
      margin-left: -70%;
  }
  100% {
      margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
      margin-left: -70%;
  }
  100% {
      margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
-webkit-animation: animateCloud 35s linear infinite;
-moz-animation: animateCloud 35s linear infinite;
animation: animateCloud 35s linear infinite;

-webkit-transform: scale(0.65);
-moz-transform: scale(0.65);
transform: scale(0.65);
}

.x2 {
-webkit-animation: animateCloud 20s linear infinite;
-moz-animation: animateCloud 20s linear infinite;
animation: animateCloud 20s linear infinite;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

.x3 {
-webkit-animation: animateCloud 30s linear infinite;
-moz-animation: animateCloud 30s linear infinite;
animation: animateCloud 30s linear infinite;

-webkit-transform: scale(0.5);
-moz-transform: scale(0.5);
transform: scale(0.5);
}

.x4 {
-webkit-animation: animateCloud 18s linear infinite;
-moz-animation: animateCloud 18s linear infinite;
animation: animateCloud 18s linear infinite;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x5 {
-webkit-animation: animateCloud 25s linear infinite;
-moz-animation: animateCloud 25s linear infinite;
animation: animateCloud 25s linear infinite;

-webkit-transform: scale(0.55);
-moz-transform: scale(0.55);
transform: scale(0.55);
}

/* NUBES */

.cloud {
background: #fff;
background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

height: 120px;
position: relative;
width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
content: '';
position: absolute;
z-indeX: -1;
}

.cloud:after {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

height: 100px;
left: 50px;
top: -50px;
width: 100px;
}

.cloud:before {
-webkit-border-radius: 200px;
-moz-border-radius: 200px;
border-radius: 200px;

width: 180px;
height: 180px;
right: 50px;
top: -90px;
}

.container_buscador{
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
}

.container-footer{
  background-color: #f8f9fa !important;
  width: 100%;
}

.test{
  display: flex;
  justify-content: center;
}

.box{
  width: 200px;
  height: 20em;
  background-color: #007a7e;
>>>>>>> f690eb5b1e9e8574d3f967e883675abec8b8db90
}